#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contents {
  display: flex;
  flex-wrap: wrap;
  width: 890px;
  justify-content: center;
}

.Content {
  width: 320px;
  padding: 15px;
  border: 1px solid red;
  border-radius: 4px;
  margin: 10px;
}
